body {
    background-image: url(https://images.unsplash.com/photo-1558203397-4d3a390f473b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
    margin: 0px;
}

.headerBlock {
    width: 100%;
    background: url(https://images.unsplash.com/photo-1503766587563-7cf366650cd9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
    background-size: 100%;
    padding-bottom: 20px;
    border-bottom: solid;
    border-width: 1px;
}

#teamLogo {
    padding-top: 20px;
    padding-left: 20px;
    width: 120px;
    height: 120px;
}

.playerName {
    padding-left: 20%;
    position: absolute;
    padding-top: 30px;
    font-weight: 700;
    font-family: serif;
    font-size: xx-large;
    color: rgb(73, 163, 73);
}

.playerPosition {
    padding-left: 20%;
    position: absolute;
    padding-top: 60px;
    font-size: large;
    font-weight: 300;
    color: rgb(73, 163, 73);
}

.searchBox {
    position: absolute;
    padding-top: 120px;
    padding-left: 62%;
}

#searchIcon {
    position: absolute;
    margin-top: 5px;
    margin-left: -17px;
    width: 10px;
}

#first {
    width: 100px;
    height: 100px;
    background: red;
    overflow: hidden;
}
#first #second{
    position: relative;
    width: 50%;
    height: 50%;
    background: green;
}

.homeButton {
    margin-left: 50px;
    background-color: #347534;
    color: rgb(24, 42, 3);
    border-color: #054b05;
    border-width: 1px;
    font-size: large;
    font-weight: 600;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}